.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #fff;
  color: #333;
  padding: 20px;
}

input,
textarea {
  margin: 5px;
  padding: 5px;
  font-size: 14px;
}

button {
  padding: 5px 10px;
  margin-top: 5px;
}

.movie-item {
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}
